[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FinNet"]
	path = FinNet
	url = https://github.com/fatelarico/finnet
[submodule "morestopwords"]
	path = morestopwords
	url = https://github.com/fatelarico/morestopwords
